*{
    margin: 0;
}
body{
    font-family: sans-serif;
}
.header{
    width: 635px;
    height: 88px;
    margin-left: 25%;
    margin-right: 25%;
    /* background-color: blue; */
    
    }
.nav li{
    padding-top: 32px;
    padding-bottom: 32px;
    list-style: none;
    display: inline-block;
}
.nav-menu{

    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    text-align: center;
    color: #000;
}
.nav-menu-2, .nav-menu-3, .nav-menu-4 {
    padding-left: 36px;
    padding-right: 36px;
}
.nav-menu-1 {
    padding-left: 0px; 
    padding-right: 36px;
}

.nav-menu-5{
    padding-right: 0px;
    padding-left: 36px;
} 
a{
    color: #000;
    text-decoration: none;
}
a:hover{
    color: #000;
    text-decoration: none;
}
.img{
    background-color: #00bdc9;
    height: 552px;
    width: 100%;
}
.image{
    
    margin-left: 25%;
    margin-right: 25%;
    width: 599px;
    height: 368px; 
    margin-top: 92px;
    margin-bottom: 92px;
}
.content{
    margin-left: 272px;
    margin-right: 272px;
    padding: 88px 0px;
    width: 856px;
    text-align: center;
}
/* .title{
   
} */
 .text-blue{
    color: #00bdc9;;
 }
.text {
    text-align: left;
    font-weight: 500;
    font-size: 21px;
    line-height: 150%;
    color: #161616;
    padding: 40px 0px;
    
    
}
.list{
    padding-top: 20px;
    text-align: left;
    font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
line-height: 150%;
color: #161616;

}

.button{
    display: inline;
    align-items: center;
    border: none;
    background: #04959e;
    padding: 10px 24px;
    width: 145px;
    height: 44px;
    color: white;
    margin-bottom: 98px;
}
.footer{
    height: 60px;
    text-align: center;
    padding-top: 16px;
    
}






